<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SRI SAI News Website</title>
    <link rel="stylesheet" href="{%static "css/newsstyles.css"%}">
</head>
<body>
    <h1>Welcome to SRI SAI NEWS Website...</h1>
    <hr />
    <ul type="disc">
        <span>***Categories***</span><br/><br />
        <li><a href="/india/">India News</a></li>
        <li><a href="/sports/">Sports News</a></li>
        <li><a href="/tech/">Technology News</a></li>
    </ul>
</body>
</html>